* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
:root {
   --primaryColor: #6200ee;
   /* --primaryColor: #115a9b; */
   /* --primaryColor: #0569ff; */
}
body {
   font-family: "Oswald", sans-serif;
   /* font-family: "inter", sans-serif; */
   /* font-family: "Poppins", sans-serif; */
   /* word-spacing: 2px; */
}
section {
   padding: 90px;
}
header {
   background-color: var(--primaryColor);
}
header .container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

nav > a {
   font-size: 2rem;
   font-weight: bolder;
   text-decoration: none;
   color: #ffffff;
}
nav > button {
   border: none;
   background-color: var(--primaryColor);
   height: 70px;
   width: 100px;
   transition: color 3s esde-in-out;
   color: #ffffff;
   font-size: 2rem;
}

.btnLogo {
   font-size: 1rem;
   font-weight: bolder;
}

section > main {
   /* border: 1px Solid var(--primaryColor); */
   /* padding: 20px; */
   border-radius: 16px;
   box-shadow: 0px 0px 75px 0.5px #c3c3c3;
}

.header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 75px;
   /* padding: 12px; */
   border-radius: 12px 12px 0 0;
   background-color: var(--primaryColor);
   overflow: hidden;
}

.header img {
   width: 500px;
   height: 300px;
   border-radius: 0px 6px 6px 0px;
}

.content {
   display: flex;
   flex-direction: column;
   gap: 10px;
   padding-left: 30px;
}
.description {
   color: rgba(214, 214, 214, 0.917);
   font-size: 1.8rem;
}

.content h1 {
   color: white;
   font-weight: 700;
}

article {
   padding: 40px 30px;
}
