* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
:root {
   --mintGreen: #a2ded0;
   --electricBlue: #2a9d8f;
}
body {
   font-family: "Oswald", sans-serif;
   /* font-family: "Poppins", sans-serif; */
   /* word-spacing: 2px; */
}
section {
   padding: 90px;
}
header {
   background-color: var(--mintGreen);
}
header .container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

nav > a {
   font-size: 2rem;
   font-weight: bolder;
   text-decoration: none;
   color: white;
}
nav > button {
   border: none;
   background-color: var(--electricBlue);
   height: 70px;
   width: 100px;
   font-weight: bolder;
   transition: color 3s esde-in-out;
   color: white;
   font-size: 2rem;
}

.btnLogo {
   font-size: 1rem;
   font-weight: bolder;
}

section > main {
   border: 1px Solid var(--electricBlue);
   padding: 20px 10px;
   border-radius: 16px;
}

.header main {
   display: flex;
   justify-content: space-between;
   padding: 10px;

   border-radius: 12px;
   background-color: var(--electricBlue);
}

.header main img {
   width: 300px;
   height: 200px;
   border-radius: 8px;
}

.content {
   max-width: 50%;
   margin: auto 10px;
}

.content h1 {
   color: white;
   font-weight: bolder;
}
.content p {
   color: white;
   font-size: 1.2rem;
   /* font-weight: bolder; */
}

article {
   padding: 40px 20px;
}
