* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
:root {
   --primaryColor: #6200ee;
   /* --primaryColor: #2a9d8f; */
}
body {
   font-family: "Oswald", sans-serif;
   /* font-family: "Poppins", sans-serif; */
   /* word-spacing: 2px; */
}
header {
   background-color: var(--primaryColor);
}
.container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

nav > a {
   font-size: 2rem;
   font-weight: bolder;
   text-decoration: none;
   color: white;
}
nav > a:hover {
   cursor: pointer;
   color: var(--primaryColor);
   transition: color 3s;
}
nav > button {
   border: none;
   background-color: var(--primaryColor);
   height: 70px;
   width: 100px;
   font-size: 1.3rem;
   transition: color 3s esde-in-out;
   color: white;
}

.btnLogo {
   font-size: 2rem;
   font-weight: bolder;
}
section {
   padding: 40px;
}
.card {
   max-width: 300px;
   height: 450px;
   /* padding: 15px; */
   display: flex;
   flex-direction: column;
   /* align-items: center; */
   justify-content: space-between;
   padding-bottom: 25px;
   border-radius: 16px;
   box-shadow: 0 0px 10px 1px rgba(0, 0, 0, 0.2);
}
.cardData {
   padding: 15px;
}
.card img {
   border-radius: 8px 8px 0 0;
   width: 100%;
   height: 175px;
}
.content {
   display: flex;
   flex-direction: column;
}

.card-title {
   font-size: 1.5rem;
   position: relative;
   padding-bottom: 10px;
}

.card-title::after {
   content: " ";
   width: 100%;
   height: 1px;
   background-color: #dcdcdc;
   position: absolute;
   left: 0;
   bottom: 0;
}
.card a {
   background-color: var(--primaryColor);
   color: var(--primaryColor);
   text-align: center;
   text-decoration: none;
   border-radius: 5px;
   padding: 7px;
   margin: 10px auto;
   width: 100%;
}
.read {
   border: 1px Solid var(--primaryColor);
   cursor: pointer;
   padding: 5px 25px;
   border-radius: 25px;
   font-size: 1rem;
   background-color: var(--primaryColor);
   color: #ffffff;
   margin: auto 20px;
}
.card button:hover {
   border: 1px Solid var(--primaryColor);
   box-shadow: 0px 0px 2.5px 1px #00000027;
   background-color: #ffffff;
   color: var(--primaryColor);
}
.modal {
   top: 8%;
}
.modelBox {
   border-radius: 10px;
   box-shadow: 0px 0px 25px 1px rgb(90, 90, 90);
   border: none;
}
.modalHeader {
   display: grid;
   place-items: end;
   padding: 10px;
}
.closeBtn {
   background-color: transparent;
   position: absolute;
   border: none;
}
.line1 {
   width: 3px;
   height: 30px;
   background-color: var(--primaryColor);
   transform: rotate(45deg);
   position: relative;
   top: 60px;
   right: 20px;
}
.line2 {
   width: 3px;
   height: 30px;
   background-color: var(--primaryColor);
   transform: rotate(-45deg);
   position: relative;
   top: 30px;
   right: 20px;
}

.modelBody {
   padding: 40px;
   display: grid;
   gap: 10px;
}

.modelBody input,
textarea {
   font-size: 1rem;
   padding: 8px;
   background-color: rgb(219, 219, 219);
   border: none;
   outline: none;
}
.modelBody textarea::placeholder,
input::placeholder {
   /* color: var(--primaryColor); */
   color: rgb(115, 115, 115);
}
.modelBtn {
   background-color: var(--primaryColor);
   color: #ffffff;
   border: none;
   border-radius: 5px;
   padding: 7px;
   margin-bottom: 25px;
   font-size: 1.2rem;
}

/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 349.98px) {
   section {
      padding: 20px;
   }
   .container {
      display: flex;
      justify-content: space-between;
   }
   nav > a {
      font-size: 1rem;
   }
   nav > div {
      display: none;
   }
   nav > button {
      height: 30px;
      width: 60px;
      font-size: 0.9rem;
   }
   .btnLogo {
      font-size: 16px;
   }

   .card {
      max-width: 320px;
   }
   .card img {
      border-radius: 8px;
      width: 100%;
      height: 25%;
   }
   .star-rating {
      font-size: 24px;
   }
}

/*Apply styles starting from medium devices and up to extra large devices */
@media (min-width: 350px) and (max-width: 575.98px) {
   nav > a {
      font-size: 1.5rem;
   }
   nav > button {
      height: 50px;
      width: 70px;
   }
   .card {
      max-width: 320px;
   }
   .card img {
      border-radius: 8px;
      width: 100%;
      height: 20%;
   }
}
