* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
:root {
   --mintGreen: #a2ded0;
   --electricBlue: #2a9d8f;
}
header {
   background-color: var(--mintGreen);
}
.container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

nav > a {
   font-size: 2rem;
   font-weight: bolder;
   text-decoration: none;
   color: white;
}
nav > a:hover {
   cursor: pointer;
   color: var(--electricBlue);
   transition: color 3s;
}
nav > button {
   border: none;
   background-color: var(--electricBlue);
   height: 70px;
   width: 100px;
   font-size: 1rem;
   /* transition: background-color 3s ease; */
   transition: color 3s ease;
   color: white;
}

.btnLogo {
   font-size: 2rem;
   font-weight: bolder;
}
section {
   padding: 40px;
}
.card {
   max-width: 320px;
   max-height: min-content;
   padding: 10px;
   border: 1px solid rgba(42, 157, 143, 0.5);
   /* background-color: var(--electricBlue); */
   border-radius: 16px;
   box-shadow: 0 2px 4px rgba(42, 157, 143, 0.2);
}
.card img {
   border-radius: 8px;
}
.content {
   display: flex;
   flex-direction: column;
   align-items: center;
}
.card button {
   background-color: var(--mintGreen);
   color: var(--electricBlue);
   border: none;
   border-radius: 5px;
   padding: 7px;
   margin-bottom: 25px;
}

/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 349.98px) {
   .container {
      display: flex;
      justify-content: space-between;
   }
   nav > a {
      font-size: 1rem;
   }
   nav > div {
      display: none;
   }
   nav > button {
      height: 30px;
      width: 60px;
      font-size: 0.9rem;
   }
   .btnLogo {
      font-size: 16px;
   }
}

/*Apply styles starting from medium devices and up to extra large devices */
@media (min-width: 350px) and (max-width: 575.98px) {
   nav > a {
      font-size: 1.5rem;
   }
   nav > button {
      height: 50px;
      width: 70px;
   }
}
